<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Display the error message if it exists -->
    <% if (typeof error !== 'undefined' && error) { %>
        <div style="color: red; background-color: #f8d7da; padding: 10px; border-radius: 5px;">
            <%= error %> <!-- This is the error message from the backend -->
        </div>
    <% } %>
    
    <div class"form-container">
        <h2>Forgot Your Password?</h2>
        <h3>Please enter your email to reset<br> your password</h3>
        
        <form action="/forgot-password" method="post">
            <div class="form-group">
                 <label for="email"></label>
                 <input type="email" id="email" name="email" placeholder="Email" required >
            </div>

           <button type="submit" class="submit-btn">Get Verification Code</button>
        </form>
</body>
</html>